*.pyc
.venv
_build
draft

__pycache__/
*.py[cod]
*$py.class

/test.py
/test_*.*
/test.py
/test_*.*
*.manifest
*.spec

.DS_Store
.idea/*
.python-version
.vscode/*

# Unit test / coverage reports
.coverage
htmlcov/
.tox

#cache
__pycache__
.mypy_cache
.pytest_cache
.cache
